<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" th:href="@{css/general.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{css/reservations.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"/>
    <script th:src="@{js/airline.js}"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Sistema Canatur - Reservaciones</title>
</head>
<body>
<div id="top-menu">
    <div class="outer">
        <div class="top-menu-holder">
            <a class="profile-links" href="#">Cerrar Sesión</a>
            <a class="profile-links" href="#">Administrar Perfil</a>
            <div class="profile-display">
                <img th:src="@{images/profile-icon.png}" />
                <ul class="profile-menu">
                    <li><a href="#">Administrar Perfil</a></li>
                    <li><a href="#">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>


</html>