@charset "UTF-8";
/* CSS Document */

section#reservations-content {
	padding: 20px;
	background-color: white;
	text-align:left;
}

.reservations-container {
	margin-top: 3em;
	float: left;
	height: auto;
	background: var(--canatur-gris-claro);
	width: 100%;
	border-color: var(--canatur-gris-metal) !important;
	border: solid 1px;
}

.date-selection-container {
	height: auto;
	width: 100%;
}

.same-height * {
	height: 30px;
}

.date-selection-container form {
	width: 100%;
}

.date-selection {
	background: transparent;
	border: 1px;
	margin-left: 1.5em;
	color: var(--canatur-gris);
	font-size: 0.9em;
	width: 10.5em;
	text-align: center;
}

.date-selection-container form label{
	line-height: 30px;
}

.batch-container{
	float: left;
	background: var(--canatur-gris-claro);
	width: 100%;
	border-color: var(--canatur-gris-metal) !important;
	border: solid 1px;
	height: auto;
	padding: .1em;
}

input, select, :not('.date-selection') {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus, select:focus {
	border: 1px solid #3EAB34;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

#workers-container{
	transition:height 0.3s ease-out 0.1s;
	float: left;
	background: var(--canatur-gris-claro);
	width: 100%;
	border-color: var(--canatur-gris-metal) !important;
	border: solid 1px;
	overflow: hidden;
	padding: .5em !important;
}

#workers-container label {
	font-size: 0.9em;
}

#workers-list {
	margin-left: 2em !important;
	width: 18em;
	font-size: 0.7em;
	height: 2.5em;
	background-color: white !important;
}

.table-container{
	float: left;
	width: 100%;
	border: solid 1px;
	height: auto;
	padding: .1em;
}

.table-container th, td, tr {
	margin-left: 0px !important;
}

.table-container table{
	margin-left: 0px !important;
}

.action-selector-big {
	border: 1px solid #ccc;
	width: 20%;
	height: 30px;
	font-size: .8em;
	overflow: hidden;
	background: #fafafa;
	outline: none;
	margin-top:.2em;
	margin-bottom:.2em;
}

.tag{
	display:inline-block;
	background:#3eab34;
	color:#FFF;
	padding:0 4px;
	margin:1px;
	border:1px solid #CCC;
	border-radius:1px;
	font:inherit;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	transition:all .1s ease
}

.action-selector {
	border: 1px solid #ccc;
	width: 20%;
	height: 25px;
	font-size: .8em;
	overflow: hidden;
	background: #fafafa;
	outline: none;
	margin-top:.2em;
	margin-bottom:.2em;
}

.action-selector select {
	padding: 5px 8px;
	width: 130%;
	border: none;
	box-shadow: none;
	background: transparent;
	background-image: none;
	-webkit-appearance: none;
	outline: none;
	padding: 1em;
}

.time-selector{
	border: 1px solid #ccc;
	overflow: hidden;
	outline: none;
	margin-top:.2em;
	margin-bottom:.2em;
	margin-left: 2em !important;
	width: 10em;
	font-size: 0.8em;
	height: 2.6em !important;
	background-color: white !important;
}

.confirmation-label {
	font-size: .7em !important;
	margin-right: 0em !important;
}

.second-label {
	margin-left: 1.2em !important;
}

.action-selector select:focus {
	outline: none;
}

.selector-small-width {
	width: 5em;
}

.selector-big-width {
	width: 12em;
}

.small-text {
	margin-top: .4em;
	font-size: 0.8em;
	letter-spacing: .1em;
}

label.date-label{
	color: var(--canatur-gris-oscuro);
	font-weight: bold;
	font-size: 0.8em;
	margin-left: .8em;
	margin-right: .8em;
}

.reservations-container label {
	color: var(--canatur-gris-oscuro);
	font-weight: bold;
	font-size: 0.8em;
	margin-left: .8em;
	margin-right: .5em !important;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: none;
}

td {
	text-align: center;
	font-size: 0.8em;
}

th, td {
	width: 13%;
	padding: 0.8em;
}

th {
	text-align: center;
	font-size: 1em;
}

tr:nth-child(even){
	background-color: var(--canatur-gris-claro);
}

.small-column{
	width: 7% !important;
}

.big-collumn{
	width: 20% !important;
}

.table-header{
	border: solid 1px;
	border-color: var(--canatur-gris);
	font-size: 0.8em;
	font-weight: lighter;
	height: 40px;
}

td .state-image{
	width: 30px;
	height: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none !important;
}

input {
	text-align: center;
}


.empty-table-text {
	margin: 1em;
}

th .order-by {
	text-decoration: none;
	color: var(--canatur-azul);
}

td .link-reservation-id{
	text-decoration: none;
	color: var(--canatur-azul);
}

th .arrow-filter {
	width: 0.6em;
	position: absolute;
	margin-left: 0.1em !important;
	margin-top: 0.5em !important;
}

.message-container {
	display: inline-block;
	margin-top: 1em !important;
}

@media screen and (max-width: 650px) {
	th, td {
		padding: 0.7em;
		font-size: 0.7em;
	}
}



