<!DOCTYPE html>
<html id="selected" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Información de Aerolínea</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../../css/general.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../../css/buttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{../../css/airline-selected.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"/>
    <script th:src="@{../js/jquery-3.2.1.min.js}"/>
    <script type="text/javascript" th:src="@{../js/selected-airline.js}"></script>
</head>

<body style="padding: 2em; height: 100%; line-height: 100%; text-align: center; vertical-align: middle; font-family: 'PT Sans'">
<h1 style=" margin-top: 0.5cm;" th:text="'Aerolínea ' + ${airline.name}">  </h1>

<div class="container-box">


    <form th:type="post" th:action="@{/admin/aerolineas/modificar}" >
    <button type="submit" id="top-control">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 275.836 275.836" style="enable-background:new 0 0 275.836 275.836;margin-bottom: 0.5em; height: 3em; width: 3em;" xml:space="preserve" >
<g>
	<path d="M191.344,20.922l-95.155,95.155c-0.756,0.756-1.297,1.699-1.565,2.734l-8.167,31.454c-0.534,2.059,0.061,4.246,1.565,5.751
		c1.14,1.139,2.671,1.757,4.242,1.757c0.503,0,1.009-0.063,1.508-0.192l31.454-8.168c1.035-0.269,1.979-0.81,2.734-1.565
		l95.153-95.153c0.002-0.002,0.004-0.003,0.005-0.004s0.003-0.004,0.004-0.005l19.156-19.156c2.344-2.343,2.344-6.142,0.001-8.484
		L218.994,1.758C217.868,0.632,216.343,0,214.751,0c-1.591,0-3.117,0.632-4.242,1.758l-19.155,19.155
		c-0.002,0.002-0.004,0.003-0.005,0.004S191.346,20.921,191.344,20.922z M120.631,138.208l-19.993,5.192l5.191-19.993l89.762-89.762
		l14.801,14.802L120.631,138.208z M214.751,14.485l14.801,14.802l-10.675,10.675L204.076,25.16L214.751,14.485z" fill="#FFFFFF"/>
	<path d="M238.037,65.022c-3.313,0-6,2.687-6,6v192.813H43.799V34.417h111.063c3.313,0,6-2.687,6-6s-2.687-6-6-6H37.799
		c-3.313,0-6,2.687-6,6v241.419c0,3.313,2.687,6,6,6h200.238c3.313,0,6-2.687,6-6V71.022
		C244.037,67.709,241.351,65.022,238.037,65.022z" fill="#FFFFFF"/>
</g>
</svg>

            <div type="submit"></div>
            <input th:value="${airline.name}" th:hidden="true" name="name"></input>
            <input th:value="${airline.initialPk}" th:hidden="true"  name="initials"></input>
            <input th:value="${airline.state}" th:hidden="true"  name="state"></input>
        Modificar
    </button>
    </form>
    <button id="bottom-control" title="Eliminar">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1em" height="1em" viewBox="0 0 459 459" enable-background="new 0 0 459 459" xml:space="preserve">
<g>
	<g id="delete">
		<path fill="#FFFFFF" d="M76.5,408c0,28.05,22.95,51,51,51h204c28.05,0,51-22.95,51-51V102h-306V408z M408,25.5h-89.25L293.25,0
			h-127.5l-25.5,25.5H51v51h357V25.5z"/>
	</g>
</g>
</svg>
    </button>
</div>

<div class="popup-window" id="delete-confirmation-window">
    <span th:text="'¿Está totalmente seguro que desea eliminar la aerolínea ' + ${airline.name} + ' junto con todos sus vuelos?'"/>
    <div class="button-container">
        <button id="cancel-button" title="Cancelar">Cancelar</button>
        <form th:type="post" th:action="@{/admin/aerolineas/eliminar}" style="width: 50%;">
            <button type="submit" id="delete-button" title="Eliminar">
                Eliminar
                <input th:value="${airline.name}" th:hidden="true" name="name"></input>
                <input th:value="${airline.initialPk}" th:hidden="true"  name="initials"></input>
                <input th:value="${airline.state}" th:hidden="true"  name="state"></input>
            </button>
        </form>
    </div>
</div>
<div class="dark-curtain"/>

</body>
</html>